<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>生成合同</title>
    <meta name="description" content="影视合同生成生成页面">
    <meta name="author" content="xiao kai, peng">

    <!-- 导入Roboto字体
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Roboto:400,100,300,500"> -->
    <!-- 导入noto sans sc字体
    <link rel="stylesheet" href="http://fonts.useso.com/earlyaccess/notosanssc.css"> -->

	<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">

    <!-- 加载各种icon -->
    <link rel="icon" href="./favicon.ico">
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="./favicon.ico">


</head>

<body>
	<header>
		<!-- 置顶导航 -->
		<nav role="navigation" class="navbar navbar-static-top">
			<div class="container">
				<a class="brand" href="#">
					<img alt="Brand" src="./favicon.ico">
				</a>

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_top_navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="main_top_navbar">
					<!-- 以下填充置顶导航中的链接 -->
					<ul class="nav navbar-nav">
						<li>
							<a href="#">示例1</a>
						</li>
						<li>
							<a href="#">示例2</a>
						</li>
					</ul>

					<!-- 这里是登录的按钮或者用户管理的下拉菜单 -->
					<!-- 这里示例下拉菜单 -->
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								用户名
								<img src="./favicon.ico">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">我的合同</a></li>
								<li><a href="#">站内信</a></li>
								<li><a href="#">账户管理</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>


	<main>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-box">
						<div class="form-top">
							<div class="form-top-left">
								<h3 class="default-h3">
									合同列表
								</h3>
								<p>
									单击合同进入管理页面
								</p>
							</div>
							<div class="form-top-right">
								<i class="fa fa-table"></i>
							</div>
						</div>
						<div class="form-bottom">
							<div class="table-responsive table-striped table-hover">
								<table class="table">
									<caption>您的合同</caption>
									<thead>
										<tr>
											<th>合同编号</th>
											<th>合同名称</th>
											<th>合同类型</th>
											<th>状态</th>
											<th>法律状态</th>
											<th>待办事项</th>
											<th>标签</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>沪123456789</td>
											<td>奥特曼暴打小怪兽</td>
											<td>影视合同</td>
											<td>已审核</td>
											<td>
												<select>
													<option value="agree" class="success">生效</option>
													<option value="disagree" class="danger">未生效</option>
												</select>
											</td>
											<td><a href="#">添加/删除</a></td>
											<td>tag</td>
										</tr>
									</tbody>
								</div>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="footer-border"></div>
					<p><a href="#"><strong>联系我们</strong></a></p>
				</div>
			</div>
		</div>
	</footer>

	<!-- 返回顶部悬浮按钮 -->
	<span id="top-link-block" class="hidden">
	    <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'fast');return false;">
	        <i class="fa fa-arrow-up"></i>返回顶部
	    </a>
	</span>

	<!-- 加载JS -->
	<script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../js/script.js"></script>
</body>
</html>