<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>文学作品改编权合同</title>
    <meta name="description" content="文学作品改编权合同生成生成页面">
    <meta name="author" content="xiao kai, peng">

    <!-- 导入Roboto字体
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Roboto:400,100,300,500"> -->
    <!-- 导入noto sans sc字体
    <link rel="stylesheet" href="http://fonts.useso.com/earlyaccess/notosanssc.css"> -->

	<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="../css/style.css">

    <!-- 加载各种icon -->
    <link rel="icon" href="../img/logo.ico">
    <link rel="shortcut icon" href="../img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/logo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="../img/logo.ico">


</head>

<body>
	<header>
		<!-- 置顶导航 -->
		<nav role="navigation" class="navbar navbar-static-top">
			<div class="container">
				<a class="brand" href="#">
					<img alt="Brand" src="../img/logo.ico">
				</a>

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_top_navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="main_top_navbar">
					<!-- 以下填充置顶导航中的链接 -->
					<ul class="nav navbar-nav">
						<li>
							<a href="#">示例1</a>
						</li>
						<li>
							<a href="#">示例2</a>
						</li>
					</ul>

					<!-- 这里是登录的按钮或者用户管理的下拉菜单 -->
					<!-- 这里示例下拉菜单 -->
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								用户名
								<img src="../img/avatar.jpg" class="avatar">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">我的合同</a></li>
								<li><a href="#">站内信</a></li>
								<li><a href="#">账户管理</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main class="body-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 side-nav" id="side-nav-bar">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<div class="collapse navbar-collapse" id="side-nav">
						<ul class="nav nav-pills nav-stacked side-nav">
							<li role="presentation"><a href="#section-1">合同双方</a></li>
							<li role="presentation"><a href="#section-2">许可作品</a></li>
							<li role="presentation"><a href="#section-3">许可内容</a></li>
							<li role="presentation"><a href="#section-4">作品交付</a></li>
							<li role="presentation"><a href="#section-5">许可费用</a></li>
							<li role="presentation"><a href="#section-6">知识产权归属</a></li>
							<li role="presentation"><a href="#section-7">权利义务</a></li>
							<li role="presentation"><a href="#section-8">违约责任</a></li>
							<li role="presentation"><a href="#section-9">合同解除</a></li>
							<li role="presentation"><a href="#section-10">附则</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-9" id="doc-create-view">
					<ul class="nav nav-tabs" id="switch-bar">
						<li role="presentation" class="active"><a href="#questionnaire-view" aria-controls="home" role="tab" data-toggle="tab">问卷</a></li>
						<li role="presentation"><a href="#sample-view" aria-controls="profile" role="tab" data-toggle="tab">预览</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="questionnaire-view">
							<div class="form-box" id="questionnaire">
								<div class="form-top">
									<div class="form-top-left">
										<h3 class="default-h3">
											文学作品改编权合同
										</h3>
										<p>
											请按要求填入信息，我们将为您自动生成一份合同
										</p>
									</div>
									<div class="form-top-right">
										<i class="fa fa-list"></i>
									</div>
								</div>
								<div class="form-bottom">
									<form role="form" action="" method="post" class="registration-form">
										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-1">合同双方</p><hr class="separator" />
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">许可方：(以下简称：“甲方”)：</label>
											<input type="text" name="script-name" placeholder="许可方：(以下简称：“甲方”)：" class="form-control">
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label for="first-party-name" class="sr-only">法定代表人：</label>
													<input type="text" name="first-party-name" placeholder="法定代表人：" class="form-control">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="first-party-id" class="sr-only">负责人证件号码：</label>
													<input type="password" name="first-party-id" placeholder="负责人证件号码：" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="script-content" class="sr-only">联系地址：</label>
											<textarea name="script-content" placeholder="联系地址：" class="form-control"></textarea>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label for="first-party-name" class="sr-only">联系电话：</label>
													<input type="text" name="first-party-name" placeholder="联系电话：" class="form-control">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="first-party-id" class="sr-only">代理人员：</label>
													<input type="password" name="first-party-id" placeholder="代理人员：" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">电子邮箱：</label>
											<input type="text" name="script-name" placeholder="电子邮箱：" class="form-control">
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">被许可方：(以下简称：“乙方”)：</label>
											<input type="text" name="script-name" placeholder="被许可方：(以下简称：“乙方”)：" class="form-control">
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label for="first-party-name" class="sr-only">法定代表人：</label>
													<input type="text" name="first-party-name" placeholder="法定代表人：" class="form-control">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="first-party-id" class="sr-only">负责人证件号码：</label>
													<input type="password" name="first-party-id" placeholder="负责人证件号码：" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="script-content" class="sr-only">联系地址：</label>
											<textarea name="script-content" placeholder="联系地址：" class="form-control"></textarea>
										</div>
										<div class="row">
											<div class="col-sm-5">
												<div class="form-group">
													<label for="first-party-name" class="sr-only">联系电话：</label>
													<input type="text" name="first-party-name" placeholder="联系电话：" class="form-control">
												</div>
											</div>
											<div class="col-sm-7">
												<div class="form-group">
													<label for="first-party-id" class="sr-only">委托人员：</label>
													<input type="password" name="first-party-id" placeholder="委托人员：" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">电子邮箱：</label>
											<input type="text" name="script-name" placeholder="电子邮箱：" class="form-control">
										</div>
										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-2">许可作品</p><hr class="separator" />
										</div>
										<div class="row">
											<div class="col-sm-9">
												<div class="form-group">
													<label for="script-name" class="sr-only">作品名称：</label>
													<input type="text" name="script-name" placeholder="作品名称：" class="form-control">
												</div>
											</div>
											<div class="col-sm-3">
												<div class="form-group">
													<label for="script-name" class="sr-only">作者：</label>
													<input type="text" name="script-name" placeholder="作者：" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
									                <div class='input-group date' id='datetimepicker1'>
									                	<label for="script-name" class="sr-only">创作完成时间：</label>
									                    <input type='text' class="form-control" placeholder="创作完成时间："/>
									                    <span class="input-group-addon">
									                        <i class="fa fa-calendar"></i>
									                    </span>
									                </div>
									            </div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="script-name1">作品所有范围：</label>
													<input type="radio" name="script-name1" value="独立">独立
													<input type="radio" name="script-name1" value="共同" checked="true">共同
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="published">作品是否出版：</label>
											<input type="radio" name="published" value="出版">出版
											<input type="radio" name="published" value="未出版" checked="true">未出版
										</div>
										<div id="published">
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
										                <div class='input-group date' id='datetimepicker2'>
										                	<label for="script-name" class="sr-only">出版时间：</label>
										                    <input type='text' class="form-control" placeholder="出版时间："/>
										                    <span class="input-group-addon">
										                        <i class="fa fa-calendar"></i>
										                    </span>
										                </div>
										            </div>
												</div>
												<div class="col-sm-8">
													<div class="form-group">
														<label for="script-name" class="sr-only">出版机构名称：</label>
														<input type="text" name="script-name" placeholder="出版机构名称：" class="form-control">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="script-name" class="sr-only">ISBN：</label>
												<input type="text" name="script-name" placeholder="ISBN：" class="form-control">
											</div>
											<div class="form-group">
												<label for="register">作品著作权是否已登记：</label>
												<input type="radio" name="register" value="已登记">已登记
												<input type="radio" name="register" value="未登记" checked="true">未登记
											</div>
											<div id="register">
												<div class="row">
													<div class="col-sm-4">
														<div class="form-group">
											                <div class='input-group date' id='datetimepicker3'>
											                	<label for="script-name" class="sr-only">登记时间：</label>
											                    <input type='text' class="form-control" placeholder="登记时间："/>
											                    <span class="input-group-addon">
											                        <i class="fa fa-calendar"></i>
											                    </span>
											                </div>
											            </div>
													</div>
													<div class="col-sm-8">
														<div class="form-group">
															<label for="script-name" class="sr-only">登记号：</label>
															<input type="text" name="script-name" placeholder="登记号：" class="form-control">
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-3">许可内容</p><hr class="separator" />
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
									                <div class='input-group date' id='datetimepicker4'>
									                	<label for="script-name" class="sr-only">许可开始时间：</label>
									                    <input type='text' class="form-control" placeholder="许可开始时间："/>
									                    <span class="input-group-addon">
									                        <i class="fa fa-calendar"></i>
									                    </span>
									                </div>
									            </div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
									                <div class='input-group date' id='datetimepicker5'>
									                	<label for="script-name" class="sr-only">许可结束时间：</label>
									                    <input type='text' class="form-control" placeholder="许可结束时间："/>
									                    <span class="input-group-addon">
									                        <i class="fa fa-calendar"></i>
									                    </span>
									                </div>
									            </div>
											</div>
										</div>
										<div class="form-group">
											<label for="script-name3">许可范围：</label>
											<input type="radio" name="script-name3" value="全世界">全世界
											<input type="radio" name="script-name3" value="中国境内（不包括港澳台地区）" checked="true">中国境内（不包括港澳台地区）
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">改编作品类型：</label>
											<input type="text" name="script-name" placeholder="改编作品类型：" class="form-control">
										</div>
										<div class="form-group">
											<label for="script-name4">许可类型：</label>
											<input type="radio" name="script-name4" value="一般性许可" checked="true">一般性许可
											<input type="radio" name="script-name4" value="排他性许可">排他性许可
											<input type="radio" name="script-name4" value="独占专有性许可">独占专有性许可
										</div>
										<div class="form-group">
											<label for="script-name5">前述附属许可权利的性质：</label>
											<input type="radio" name="script-name5" value="一般性许可" checked="true">一般性许可
											<input type="radio" name="script-name5" value="排他性许可">排他性许可
											<input type="radio" name="script-name5" value="独占专有性许可">独占专有性许可
										</div>
										<div class="form-group">
											<label for="script-name6">转许可权：</label>
											<input type="radio" name="script-name6" value="有">有
											<input type="radio" name="script-name6" value="无" checked="true">无
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">转许可最迟通知甲方天数：</label>
											<input type="number" name="script-name" placeholder="转许可最迟通知甲方天数：" class="form-control">
										</div>

										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-4">作品交付</p><hr class="separator" />
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">作品最迟交付天数：</label>
											<input type="number" name="script-name" placeholder="作品最迟交付天数：" class="form-control">
										</div>
										<div class="form-group">
											<label for="script-content" class="sr-only">交付要求：</label>
											<textarea name="script-content" placeholder="交付要求：" class="form-control"></textarea>
										</div>

										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-5">许可费用</p><hr class="separator" />
										</div>
										<div class="form-group">
											<label for="payment">支付方式：</label>
											<input type="radio" name="payment" value="一次性支付" checked="true">一次性支付
											<input type="radio" name="payment" value="分两期支付">分两期支付
											<input type="radio" name="payment" value="分三期支付">分三期支付
										</div>
										<div id="payment-1">
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
														<label for="script-name" class="sr-only">最迟支付天数：</label>
														<input type="number" name="script-name" placeholder="最迟支付天数：" class="form-control">
													</div>
												</div>
												<div class="col-sm-8">
													<div class="form-group">
														<label for="script-name" class="sr-only">总金额：</label>
														<div class="input-group">
															<span class="input-group-addon">人民币</span>
															<input type="number" name="script-name" placeholder="总金额：" class="form-control">
															<span class="input-group-addon">万元</span>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
														<label for="script-name" class="sr-only">户名：</label>
														<input type="text" name="script-name" placeholder="户名：" class="form-control">
													</div>
												</div>
												<div class="col-sm-8">
													<div class="form-group">
														<label for="script-name" class="sr-only">开户行：</label>
														<input type="text" name="script-name" placeholder="开户行：" class="form-control">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="script-name" class="sr-only">账号：</label>
												<input type="number" name="script-name" placeholder="账号：" class="form-control">
											</div>
										</div>
										<div id="payment-2">
											<div class="form-group">
												<label for="value-2" class="sr-only">总金额：</label>
												<div class="input-group">
													<span class="input-group-addon">人民币</span>
													<input type="number" name="value-2" placeholder="总金额：" class="form-control">
													<span class="input-group-addon">万元</span>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<div class="form-group">
														<label for="ratio-2-1" class="sr-only">一期支付比例：</label>
														<div class="input-group">
															<input type="number" name="ratio-2-1" placeholder="一期支付比例：" class="form-control">
															<span class="input-group-addon">%</span>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label for="value-2-1" class="sr-only">一期支付费用：</label>
														<div class="input-group">
															<span class="input-group-addon">即，人民币</span>
															<input type="number" name="value-2-1" placeholder="一期支付费用：" class="form-control">
															<span class="input-group-addon">万元</span>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="form-group">
														<label for="script-name" class="sr-only">最迟支付天数：</label>
														<input type="number" name="script-name" placeholder="最迟支付天数：" class="form-control">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<div class="form-group">
														<label for="ratio-2-2" class="sr-only">二期支付比例：</label>
														<div class="input-group">
															<input type="number" name="ratio-2-2" placeholder="二期支付比例：" class="form-control">
															<span class="input-group-addon">%</span>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label for="value-2-2" class="sr-only">二期支付费用：</label>
														<div class="input-group">
															<span class="input-group-addon">即，人民币</span>
															<input type="number" name="value-2-2" placeholder="二期支付费用：" class="form-control">
															<span class="input-group-addon">万元</span>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="form-group">
										                <div class='input-group date' id='datetimepicker6'>
										                	<label for="script-name" class="sr-only">最迟支付日期：</label>
										                    <input type='text' class="form-control" placeholder="最迟支付日期："/>
										                    <span class="input-group-addon">
										                        <i class="fa fa-calendar"></i>
										                    </span>
										                </div>
										            </div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
														<label for="script-name" class="sr-only">户名：</label>
														<input type="text" name="script-name" placeholder="户名：" class="form-control">
													</div>
												</div>
												<div class="col-sm-8">
													<div class="form-group">
														<label for="script-name" class="sr-only">开户行：</label>
														<input type="text" name="script-name" placeholder="开户行：" class="form-control">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="script-name" class="sr-only">账号：</label>
												<input type="number" name="script-name" placeholder="账号：" class="form-control">
											</div>
										</div>
										<div id="payment-3">
											<div class="form-group">
												<label for="value-3" class="sr-only">总金额：</label>
												<div class="input-group">
													<span class="input-group-addon">人民币</span>
													<input type="number" name="value-3" placeholder="总金额：" class="form-control">
													<span class="input-group-addon">万元</span>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<div class="form-group">
														<label for="ratio-3-1" class="sr-only">一期支付比例：</label>
														<div class="input-group">
															<input type="number" name="ratio-3-1" placeholder="一期支付比例：" class="form-control">
															<span class="input-group-addon">%</span>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label for="value-3-1" class="sr-only">一期支付费用：</label>
														<div class="input-group">
															<span class="input-group-addon">即，人民币</span>
															<input type="number" name="value-3-1" placeholder="一期支付费用：" class="form-control">
															<span class="input-group-addon">万元</span>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="form-group">
														<label for="script-name" class="sr-only">最迟支付天数：</label>
														<input type="number" name="script-name" placeholder="最迟支付天数：" class="form-control">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<div class="form-group">
														<label for="ratio-3-2" class="sr-only">二期支付比例：</label>
														<div class="input-group">
															<input type="number" name="ratio-3-2" placeholder="二期支付比例：" class="form-control">
															<span class="input-group-addon">%</span>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label for="value-3-2" class="sr-only">二期支付费用：</label>
														<div class="input-group">
															<span class="input-group-addon">即，人民币</span>
															<input type="number" name="value-3-2" placeholder="二期支付费用：" class="form-control">
															<span class="input-group-addon">万元</span>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="form-group">
										                <div class='input-group date' id='datetimepicker7'>
										                	<label for="script-name" class="sr-only">最迟支付日期：</label>
										                    <input type='text' class="form-control" placeholder="最迟支付日期："/>
										                    <span class="input-group-addon">
										                        <i class="fa fa-calendar"></i>
										                    </span>
										                </div>
										            </div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<div class="form-group">
														<label for="ratio-3-3" class="sr-only">三期支付比例：</label>
														<div class="input-group">
															<input type="number" name="ratio-3-3" placeholder="三期支付比例：" class="form-control">
															<span class="input-group-addon">%</span>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label for="value-3-3" class="sr-only">三期支付费用：</label>
														<div class="input-group">
															<span class="input-group-addon">即，人民币</span>
															<input type="number" name="value-3-3" placeholder="三期支付费用：" class="form-control">
															<span class="input-group-addon">万元</span>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="form-group">
										                <div class='input-group date' id='datetimepicker8'>
										                	<label for="script-name" class="sr-only">最迟支付日期：</label>
										                    <input type='text' class="form-control" placeholder="最迟支付日期："/>
										                    <span class="input-group-addon">
										                        <i class="fa fa-calendar"></i>
										                    </span>
										                </div>
										            </div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
														<label for="script-name" class="sr-only">户名：</label>
														<input type="text" name="script-name" placeholder="户名：" class="form-control">
													</div>
												</div>
												<div class="col-sm-8">
													<div class="form-group">
														<label for="script-name" class="sr-only">开户行：</label>
														<input type="text" name="script-name" placeholder="开户行：" class="form-control">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="script-name" class="sr-only">账号：</label>
												<input type="number" name="script-name" placeholder="账号：" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label for="script-name7">税费承担：</label>
											<input type="radio" name="script-name7" value="含税" checked="true">含税
											<input type="radio" name="script-name7" value="不含税">不含税
										</div>

										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-6">知识产权归属</p><hr class="separator" />
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">新作品权属：</label>
											<input type="text" name="script-name" placeholder="新作品权属：" class="form-control" value="电影、电视剧">
										</div>
										<div class="row">
											<div class="col-sm-3">
												<div class="form-group">
													<label for="script-name" class="sr-only">作者：</label>
													<input type="text" name="script-name" placeholder="作者：" class="form-control">
												</div>
											</div>
											<div class="col-sm-9">
												<div class="form-group">
													<label for="script-name" class="sr-only">作品名称：</label>
													<input type="text" name="script-name" placeholder="作品名称：" class="form-control">
												</div>
											</div>
										</div>

										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-7">权利义务</p><hr class="separator" />
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">最晚通知天数：</label>
											<input type="number" name="script-name" placeholder="最晚通知天数：" class="form-control">
										</div>

										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-8">违约责任</p><hr class="separator" />
										</div>
											<div class="form-group">
												<label for="script-name" class="sr-only">违约金比例：</label>
												<div class="input-group">
													<span class="input-group-addon">每逾期1天</span>
													<input type="number" name="script-name" placeholder="违约金比例：" class="form-control">
													<span class="input-group-addon">‰</span>
												</div>
											</div>

										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-9">合同解除</p><hr class="separator" />
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">最大未履约天数：</label>
											<input type="number" name="script-name" placeholder="最大未履约天数：" class="form-control">
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">最大支付违约金天数：</label>
											<input type="number" name="script-name" placeholder="最大支付违约金天数：" class="form-control">
										</div>

										<div class="section-box">
											<hr class="separator" /><p class="separator-title" id="section-10">附则</p><hr class="separator" />
										</div>
										<div class="form-group">
											<label for="script-name" class="sr-only">本合同份数：</label>
											<input type="number" name="script-name" placeholder="本合同份数：" class="form-control">
										</div>

										<button type="submit" class="btn">提交合同信息</button>
									</form>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="sample-view">
							<embed src="../pdf/demo.pdf" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="footer-border"></div>
					<p><a href="#"><strong>联系我们</strong></a></p>
				</div>
			</div>
		</div>
	</footer>

	<!-- 返回顶部悬浮按钮 -->
	<span id="top-link-block" class="hidden">
	    <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'fast');return false;">
	        <i class="fa fa-arrow-up"></i>返回顶部
	    </a>
	</span>

	<!-- 加载JS -->
	<script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/moment.js/2.11.2/moment.min.js"></script>
	<script src="https://cdn.bootcss.com/moment.js/2.11.2/locale/zh-cn.js"></script>
	<script src="https://cdn.bootcss.com/moment.js/2.11.2/moment-with-locales.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
	<script src="../js/contract-creater.js"></script>
	<script src="../js/script.js"></script>
</body>
</html>